<table>
  <thead> 
    <tr>
      <th >Email</th>
      <th >Message</th>
      <th >SHA1</th>
      <th ></th>
    </tr>
  </thead>
  
  <tbody> 
    <% commits.each do |commit| %>
      <tr>
        <td><%= commit.email %></td>
        <td><%= commit.message %></td>
        <td><%= commit.formatted_sha1 %></td> 
        <td ><%= link_to 'Verify', commit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
