<table>
  <thead> 
    <tr>
      <th >Email</th>
      <th >Message</th>
      <th >SHA1</th>
      <th ></th>
    </tr>
  </thead>
  
  <tbody> 
    <% commits.each do |commit| %>
      <tr>
        <td><%= commit.email %></td>
        <td><%= commit.message %></td>
        <td><%= commit.formatted_sha1 %></td> 
        <% if commit.state == "verified" %> 
          <td >Verified</td>
        <% elsif commit.state == "failed" %>
          
        <% else %> 
          <td ><%= link_to 'Verify', commit %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
